<div class="main">
    <div class="main-top clearfix">
        <div class="pages-commircial-title">
            <h1>Act on specified commercial transactions</h1>
        </div>
        <div class="pages-commircial-items">
            <table>
                <tr>
                    <td>Company name</td>
                    <td>Shares'</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>1-17-8, Kichijojikitamachi, Musashino city, Tokyo, Japan</td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td>share.our.ideas.now＠gmail.com</td>
                </tr>  
                <tr>
                    <td>URL</td>
                    <td>https://japanese-master.com</td>
                </tr>
                <tr>
                    <td>Method of payment</td>
                    <td>Credit card</td>
                </tr>
                <tr>
                    <td>Sales price</td>
                    <td>Indicated on each course</td>
                </tr>
                <tr>
                    <td>Date of payment</td>
                    <td>Depend on credit card company</td>
                </tr>
            </table>
        </div>
    </div>
</div>
