<div class="main pages-grammar">
    <div class="pages-grammar-top">
        <h3>Please select the level and start the quizzes!!</h3>
    </div>
    <div class="pages-grammar-wrapper">
        <div class="pages-grammar-level">
            <p>Level 1</p>
        </div>
        <div class="pages-grammar-genre">
            <ul>
                <li> <%= link_to("Pronoun", "/quizes/#{@quiz_1.level}/#{@quiz_1.theme}/#{@quiz_1.road}", {class: "pages-grammar-btn"}) %> </li>
                <li> <%= link_to("Adjective", "/quizes/#{@quiz_2.level}/#{@quiz_2.theme}/#{@quiz_2.road}", {class: "pages-grammar-btn"}) %> </li>
                <li> <%= link_to("Verb", "/quizes/#{@quiz_3.level}/#{@quiz_3.theme}/#{@quiz_3.road}", {class: "pages-grammar-btn"}) %> </li>
            </ul>
        </div>
    </div>
</div>
