<div class="main pages-grammar">
    <div class="pages-grammar-top">
        <h3>This is the place to master Grammar of Japanese !! If you are a beginner, it's recommended to start from Level 1</h3>
    </div>
    <div class="pages-grammar-wrapper">
        <div class="pages-grammar-level">
            <p>Level 1</p>
        </div>
        <div class="pages-grammar-genre">
            <ul>
                <li> <%= link_to("Pronoun", "/quizes/#{@quiz1_1.level}/#{@quiz1_1.theme}/#{@quiz1_1.road}", {class: "pages-grammar-btn"}) %> </li>
                <li> <%= link_to("Adjective", "/quizes/#{@quiz1_2.level}/#{@quiz1_2.theme}/#{@quiz1_2.road}", {class: "pages-grammar-btn"}) %> </li>
                <li> <%= link_to("Verb", "/quizes/#{@quiz1_3.level}/#{@quiz1_3.theme}/#{@quiz1_3.road}", {class: "pages-grammar-btn"}) %> </li>
            </ul>
        </div>
        <div class="pages-grammar-level">
            <p>Level 2</p>
        </div>
        <div class="pages-grammar-genre">
            <ul>
                <li> <%= link_to("Pronoun", "/quizes/#{@quiz2_1.level}/#{@quiz2_1.theme}/#{@quiz2_1.road}", {class: "pages-grammar-btn"}) %> </li>
            </ul>
        </div>
    </div>
</div>
