<div class="main">
    <div class="main-top clearfix">
        <div class="pages-privacy-title">
            <h1>Privacy Policy</h1>
        </div>
        <div class="pages-privacy-content">
            <p>Shares', Inc. (the "Company") sets forth this Privacy Policy (the "Policy") for handling the User Information (including personal information) in the service provided by the Company (the "Service.")</p>
        </div>
        <div class="pages-privacy-subtitle">
            <h3>1. User Information to be Collected and Manner of Collection</h3>
        </div>
        <div class="pages-privacy-content">
            <p>The "User Information" under this Policy shall mean the information about the identity of users, users action history on the telecommunication service, or any information created or stored in the users devices in relation to the users or users’ devices, and that is collected by the Company pursuant to this Policy.</p>
            <p>The User Information in the Service that is collected by the Company shall include, as for each manner of collection, the following:</p>
            <p>(1)	Information provided by the user:</p>
            <p>- Name;</p>
            <p>- E-mail address; and</p>
            <p>- Other information input by the user in the form designated by the Company.</p>
            <p>(2)	Information that, by way of the user’s permission of linking the Service with another service in using the Service, is provided by such other service:</p>
            <p>- ID used by the user at the third-party service; and</p>
            <p>- Information that the user authorized provision to the linked service under the privacy preference of the third-party service.</p>
            <p>(3)	Information that is collected by the Company of the user in using the Service:</p>
            <p>- Browser information;</p>
            <p>- Log information;</p>
            <p>- Device information;</p>
            <p>- Location information; and</p>
            <p>- Cookies and anonymous IDs.</p>
            <p>The Company will, to improve usability of the Service, store and use Cookies, access analytics, statistical data, etc. The Company may collect the user’s action history by using Cookies, JavaScripts and other technology. However, these do not include personal information.</p>
            <p>(4)	User attributed information collected from Google Analytics. The following user attributed information will be collected from Google Analytics used by the Service for collecting traffic data on the users:</p>
            <p>- Age;</p>
            <p>- Gender; and</p>
            <p>- Interests.</p>
            <p>This data will be collected after processing so that individuals cannot be identified from the data.  For more details on Google Analytics, please see the Terms of Service of Google Analytics.</p>
        </div>
        <div class="pages-privacy-subtitle">
            <h3>2. Purpose of Use</h3>
        </div>
        <div class="pages-privacy-content">
            <p>The User Information collected from the users will be used for the following purposes:</p>
            <p>- To provide, maintain, protect or improve the Service, including acceptance of registration and identity verification;</p>
            <p>- To provide guidance of the Service or to handle customer inquires;</p>
            <p>- To handle violations of the terms and conditions and policies (the "T&C") of the Company pertaining to the Service;</p>
            <p>- To notify users of important announcements such as amendments of the T&C of the Service or system maintenance;</p>
            <p>- To provide community functions within the Service;</p>
            <p>- To distribute announcements and mail magazines about other services, seminars and schools of the Company;</p>
            <p>- To create statistical data, in relation to the service of the company, that has been processed in such a manner that individuals cannot be identified;</p>
            <p>- To notify users about campaigns, etc., of the Company or third parties, or to dispatch novelties;</p>
            <p>- To distribute or present advertisements of the Company or third parties;</p>
            <p>- To use for marketing of the services that the Company or third party provides or will provide in the future; and</p>
            <p>- To use for the purposes incidental to the foregoing.</p>
        </div>
        <div class="pages-privacy-subtitle">
            <h3>3. Disclosure to Third Parties</h3>
        </div>
        <div class="pages-privacy-content">
            <p>The Company will not, unless it is authorized under the Personal Information Protection Act or any other law, disclose any personal information (which comprises User Information) to third person without obtaining prior consent form the user. However, the foregoing shall not apply if:</p>
            <p>-	The Company entrusts a whole or part of the handling of the personal information within the necessary scope to achieve the purpose of use;</p>
            <p>-	The personal information is provided accompanied with business succession caused by a merger or other reason;</p>
            <p>-	There is a need to cooperate in regard to a central government organization or a local government, or a person entrusted by them performing affairs prescribed by laws and regulations, and when there is a possibility that obtaining a user's consent would interfere with the performance of the said affairs; or</p>
            <p>-	In addition to the foregoing, the disclosure is authorized under the Personal Information Protection Act or any other law.</p>
        </div>
        <div class="pages-privacy-subtitle">
            <h3>4. Correction and Suspension of User’s Personal Information</h3>
        </div>
        <div class="pages-privacy-content">
            <p>If any user requests the Company to correct or suspend the use of any personal information, the Company will verify that the request has been made by the user himself/herself, and conduct necessary investigation without delay.  The Company will then correct or suspend the use of the personal information, and notify the user. If the Company determined not to correct or suspend the use of the personal information on a reasonable ground, the Company will notify the same to the user. If any user requests the Company to delete any personal information of the user, and the Company deems it necessary to comply with the request, the Company will verify that the request has been made by the user himself/herself. The Company will then delete the personal information, and notify the user.</p>
        </div>
        <div class="pages-privacy-subtitle">
            <h3>5. Exclusion of Liability</h3>
        </div>
        <div class="pages-privacy-content">
            <p>The Company shall have no responsibility in relation to acquisition of personal information by a third party if:</p>
            <p>- The user by himself/herself provides the personal information to the third party by using any function of the service or any other means;</p>
            <p>- The user is identified by chance, based on any information the user input on the Service, or activity information, etc.;</p>
            <p>- The third party acquired the personal information or any other User Information through a means outside the Service; or</p>
            <p>- Any person other than the user himself/herself obtained any information that identifies the user (including IDs, passwords, etc.).</p>
        </div>
        <div class="pages-privacy-subtitle">
            <h3>6. Procedure of Amendment of Privacy Policy</h3>
        </div>
        <div class="pages-privacy-content">
            <p>The Company from time to time reviews the handling of User Information and endeavors improvement on a continuing basis. The Company may, if it deems necessary, amend this Policy at any time. If the Company amends this Policy, it will be announced on this website.</p>
        </div>
        <div class="pages-privacy-subtitle">
            <h3>7. Contact</h3>
        </div>
        <div class="pages-privacy-content">
            <p>For inquiry about this Policy and User Information, please contact share.our.ideas.now＠gmail.com</p>
        </div>
    </div>
</div>
