<div class="main">
    <div class="main-top clearfix">
        <div class="pages-term-title">
            <h1>Shares' Terms and Conditions for Use</h1>
        </div>
        <div class="pages-term-content">
            <p>Japanese Master (the "Service") is a Japanese learning service developed and operated by Shares', Inc. (the "Company.")  These terms and conditions (these "T&C") set forth the conditions for provision of the Service, and the rights and obligations that may arise between the Company and Registered Users.  In using the Service, you must read and consent to all sections of these T&C.</p>
            <p>Before you use Japanese Master, you must consent to these T&C. Please carefully read the following.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 1. Application</h3>
        </div>
        <div class="pages-term-content">
            <p>1. The purpose of these T&C is to set forth the conditions for provision of the Service, and the rights and obligations that may arise between the Company and Registered Users.</p>
            <p>2. These T&C apply to the all relationships that may arise between the Company and Registered Users by use of the Service.</p>
            <p>3. If there is any difference between these T&C, and any description about the Service other than these T&C, these T&C shall apply and take precedence.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 2. Definition</h3>
        </div>
        <div class="pages-term-content">
            <p>Users of the Service shall collectively mean all Registered Users.  A Registered User shall mean an individual who input and submitted the necessary information for user registration, and was approved by the Company.  The Registered User shall include the individuals approved by the Company through the authorization system of third-party services including Twitter and Facebook.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 3. Responsibility of User</h3>
        </div>
        <div class="pages-term-content">
            <p>1. In using the Service, the User must have access to the Internet.  Apparatus, software and telecommunication means shall be appropriately prepared, installed and operated by the User at his/her own responsibility and cost.  The Company shall have no relationship with the User’s Internet access environment, and shall have no responsibility for such preparation, installation and operation.</p>
            <p>2. The Company will contact Registered Users by e-mail addressed to the registered e-mail address, or "message" function of the Service.  Registered Users must appropriately register the information about their registered e-mail address so that they can receive e-mails from the Company.  If for any reason the Registered User is no longer able to receive e-mails, he/she shall properly change the registered e-mail address promptly.  The Company shall have no liability for, and the User shall be responsible for, any damage caused to the User by his/her inability to receive e-mails from the Company.</p>
            <p>You may opt not to receive e-mails for advertisements from the Company, including mail magazines.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 4. Registration</h3>
        </div>
        <div class="pages-term-content">
            <p>1. Applicants who wish to use the Service (the "Prospective User") may apply for registration of use of the Service by agreeing these T&C and providing such information (the "Registration Information") designated by the Company by such means designated by the Company.</p>
            <p>2. For the purpose of the foregoing paragraph, if the Prospective User is a minor, consent of the person with parental authority is required.  By the Prospective User agreeing to these T&C, the Company will deem that such Consent has been given.</p>
            <p>3. The Company will determine, based on the Company’s criteria, whether the Prospective User who has made the registration application in the Paragraph 1 (the "Applicant") may be registered or not.  If the registration is granted, the Company will notify the Applicant.  The registration shall be complete by the Company’s serving such notice.</p>
            <p>4. The contract for use of the Service shall be formed between the Registered User and the Company when the registration is completed, and the Registered User may use the Service.</p>
            <p>5. If the Applicant falls within any of the following items, the Company may refuse registration or re-registration.  The Company shall have no obligation to disclose the reason for refusal:</p>
            <p>(i) If all or part of the Registration Information provided to the Company is false, erroneous or incomplete;</p>
            <p>(ii) If the Applicant is a minor, adult ward, person under curatorship or person under assistance, and it turned out that consent, etc. by his/her statutory agent, guardian, curator or assistant had not been given;</p>
            <p>(iii) If, in the Company’s judgment, the Applicant is an Anti-Social Force, Etc. (which shall mean organized crime group, member of an organized group, right-wing organized group, antisocial force, or any other person similar to the foregoing; hereinafter the same), or has any communication or relationship with any Anti-Social Force, etc., by cooperating or engaging with maintenance, operation or business of the Anti-Social Force, through provision of finance or otherwise;</p>
            <p>(iv) If, in the Company’s judgment, the Applicant is a person who breached any contract with the Company in the past, or has relation to such person;</p>
            <p>(v) If the Applicant was subject to the measure under the Article 10; or</p>
            <p>(vi) In addition to the foregoing, if the Company deems that the registration is improper.</p>
            <p>If you are a minor, you need consent of the person who has parental authority for registration.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 5. Management of Password and User ID</h3>
        </div>
        <div class="pages-term-content">
            <p>1. The Registered User shall, at his/her own responsibility, appropriately manage and store the password and user ID for the Service.  The Registered User shall not allow third persons to use the password or user ID, or lease, transfer, change the name of, or sell or purchase the same.</p>
            <p>2. The Registered User shall be responsible, and the Company shall have no responsibility, for any damage arising from failure to properly manage passwords or user IDs, or misuse or use by third party of them.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 6. Prohibited Matters</h3>
        </div>
        <div class="pages-term-content">
            <p>The Registered User shall not, in using the Service, commit an act that falls, or is determined by the Company to fall, within any of the following items:</p>
            <p>(i) Any act that violates the law or relates to crime;</p>
            <p>(ii) Fraud or intimidation against the Company, other users of the Service, or any third party;</p>
            <p>(iii) Any act that offends public order and morals;</p>
            <p>(iv) Any act that infringes intellectual property rights, portrait rights, privacy rights, reputation or any other rights or interest of the Company, other users of the Service, or any third party;</p>
            <p>(v) Submission of information that falls, or is determined by the Company to fall, within any of the following, to the Company or any other user of the Service:</p>
            <p>- Information that contains excessively violent or atrocious expressions;</p>
            <p>- Information that contains computer viruses or other hazardous computer programs;</p>
            <p>- Information that contains expressions that discredit or defame the Company, other users of the Service, or any other third person;</p>
            <p>- Information that contains excessively obscene expressions;</p>
            <p>- Information that contains expressions that would promote discrimination;</p>
            <p>- Information that contains expressions that would promote suicide or self injury;</p>
            <p>- Information that contains expressions that would promote the abuse of drugs;</p>
            <p>- Information that contains anti-social expressions;</p>
            <p>- Information that requests diffusion of information to third persons, such as chain mails;</p>
            <p>- Information that contains abrasive expressions; or</p>
            <p>- Information that is aimed at dating with unacquainted persons.</p>
            <p>(vi) Any act that imposes expressive loads on the network or system, etc. of the Service, or intentionally takes advantage of any flaw of the Service;</p>
            <p>(vii) Any act that likely hinders operation of the Service;</p>
            <p>(viii) Any act that attempts or conducts unauthorized access to the network or system, etc. of the Company;</p>
            <p>(ix) Any act that impersonates another person;</p>
            <p>(x) Any act that uses an ID or password of another user of the Service;</p>
            <p>(xi) Any advertisement, solicitation or other business activity carried out on the Service without obtaining prior approval from the Company;</p>
            <p>(xii) Collection of information of other users of the Service;</p>
            <p>(xiii) Any act that causes disadvantage, damage or inconvenience to the Company, other users of the Service, or any other person;</p>
            <p>(xiv) Provision of benefits to anti-social forces;</p>
            <p>(xv) Any business activity utilizing the Service;</p>
            <p>(xvi) Any act that directly or indirectly raises or facilitates any of the foregoing acts; or</p>
            <p>(xvii) Any act that the Company deems inappropriate.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 7. Suspension of Service</h3>
        </div>
        <div class="pages-term-content">
            <p>1. If any of the following events occurs, the Company may, without serving prior notice to the Registered User, suspend or cease provision of all or part of the Service:</p>
            <p>- Emergent checkup or maintenance of the computer system for the Service is carried out;</p>
            <p>- Computer or communication lines, etc. are suspended due to an accident;</p>
            <p>- Operation of the Service is severed due to earthquake, lightning strike, fire, wind or flood damage, blackout or an act of providence, or any other force majeure event; or</p>
            <p>- In addition to the foregoing, the Company deems it necessary to suspend or cease the Service.</p>
            <p>2. The Company shall have no responsibility for any damage that may be caused to the Registered User from the measures taken by the Company pursuant to this Article.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 8. Rights</h3>
        </div>
        <div class="pages-term-content">
            <p>1. Any and all intellectual property rights pertaining to the website of the Company and the Service shall be held by the Company, or the persons who grants license to the Company (the "Licensors.")  License to use the Service under these T&C shall not mean license to use the intellectual property of the Company or Licensors pertaining to the website of the Company or the Service.</p>
            <p>2. Any copyrights(including those under the Articles 27 and 28 of the Copyright Act of Japan), trademark rights, patent rights or any other intellectual property rights (including the rights to acquire or apply for registration of such rights) pertaining to the contents (slides, texts, images, source codes, software, composition of lessons, characters, etc.; hereinafter the same) contained in the Service shall be held by the Company, and protected under the Copyright Act of Japan and international laws for copyrights.  However, for the source codes provided under the open-source license contained in the Service, if the open-source license has a provision that explicitly supersedes these T&C, such provision shall apply.</p>
            <p>3. All software contained in the Service contains proprietary rights and business secrets protected under the intellectual property laws.</p>
            <p>4. Collection or duplication of the contents of the Service, in whatever manner, shall be prohibited unless prior written consent of the Company is obtained.</p>
            <p>5. Creation (including embedment into slides, link to lessons, reprint or any use, etc. that exceeds the scope of citation)or provision or sale of any learning materials that use contents of the Service shall be prohibited unless prior written consent of the Company is obtained.</p>
            <p>6. The Registered User shall represent and warrant to the Company that he/she has a right to upload and publicize (hereinafter, "post") the data that is uploaded and generally publicized on the Service (the "Posted Data,") and that the posted data does not infringe the rights of any third person.</p>
            <p>7. The Registered User shall grant to the Company the world-wide, non-exclusive, royalty-free, sub-licensable and transferable license to use, reproduce, distribute, and create derivative work of, present and implement the Posted Data.  The Registered User shall also grant to other Registered Users the royalty-free license to use, reproduce, distribute, and create derivative work of, present and implement the Posted Data.</p>
            <p>8. The Registered User shall agree that he/she shall not exercise his/her author’s moral rights against the Company, any person to whom the Company’s rights are transferred or licensed, or other Registered Users.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 9. Advertisement</h3>
        </div>
        <div class="pages-term-content">
            <p>The Company may, in its judgment, post advertisements of the Company or any third person on the Service.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 10. Suspension of Use; Deregistration</h3>
        </div>
        <div class="pages-term-content">
            <p>1. If the Registered User falls within any of the following, the Company may, without serving prior notice, delete the Posted Data, and suspend the use of the Service by the Registered User, deregister the Registered User, or terminate the contract for use of the Service:</p>
            <p>- The Registered User breached any provision of these T&C;</p>
            <p>- The Registration Information contains false information;</p>
            <p>- The Registered User did not use the Service for six (6) successive months or more;</p>
            <p>- The Registered User did not respond to inquiry from the Company or any other request for response for thirty (30) days or more;</p>
            <p>- The Company deems that the Registered User is an Anti-Social Force, etc. (meaning organized crime group, a member of an organized crime group, right-wing organization, anti-social force, or any other similar person; hereinafter the same,) or has any contact or relationship with any Anti-Social Force, etc., by way of cooperating with or involving in maintenance or operation of the anti-social force, through, among other things, provision of finance;</p>
            <p>- The Company deems that the Registered User is a person who breached any contract with the Company in the past, or is an affiliate of such person; or</p>
            <p>- The Company deems that the Registered User’s use of the Service, registration as a Registered User, or continuance of the contract for use of the Service is inappropriate.</p>
            <p>2. If the Registered User falls within any of the foregoing Paragraph, any and all obligations that the Registered User owes to the Company become due, and he/she shall immediately pay all debts owed to the Company.</p>
            <p>3. The Company shall have no responsibility for any damage that may be caused to the Registered User from any act taken by the Company pursuant to this Article.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 11. Withdrawal</h3>
        </div>
        <div class="pages-term-content">
            <p>1. The Registered User may withdraw from the Service and deregister his/her status as a Registered User in the manner prescribed by the Company.</p>
            <p>2. If the withdrawing Registered User owes any debts to the Company, any and all obligations that the Registered User owes to the Company become due, and he/she shall immediately pay all debts owed to the Company.</p>
            <p>3. Article 15 shall govern the handling of user information after withdrawal.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 12. Change of Contents of Service; Termination</h3>
        </div>
        <div class="pages-term-content">
            <p>1. The Company may, for its own reason, change the contents of the Service, or terminate the provision of the Service.  The Company may, at its own discretion, require payment for the functions within the Service that are currently available free of charge.</p>
            <p>2. The Company shall have no responsibility for any damage that may be caused to the Registered User from the measures taken by the Company pursuant to this Article.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 13. No Warranty and Exclusion of Liability</h3>
        </div>
        <div class="pages-term-content">
            <p>1. The Company does not warrant that the Service fits the particular purpose of the Registered User; that the Service has the expected function, commercial value, correctness or usability; that the Registered User’s use of the Service complies with the laws or internal regulations of industry groups applied to the Registered User; or that the Service is free from defect.  For better service, the Company will from time to time improve the Service, but shall have no obligation of improvement or repair in response to the request of improvement or repair of a particular function from the Registered User.</p>
            <p>2. The Company shall have no obligation to indemnify the Registered User from any damage arising from suspension, cessation, discontinuance, lack of service or change of the Service, deletion or loss of message or information that the Registered User sent to the Service, deregistration of Registered User, loss of registered data or failure or damage of a device caused by the use of the Service, or any other damage that the Registered User incurred in relation to the Service (the "User Damage.")</p>
            <p>3. In case the Company shall have any obligation of indemnification for any reason, the Company’s obligation of indemnification for the User Damage shall not exceed the amount that the Registered User paid to the Company for the last six (6) months.  The Company shall have no obligation of indemnification for ancillary, indirect, special or subsequent damage, or loss of profit.</p>
            <p>4. The Company shall have no liability for any transaction, communication or dispute that arises between the Registered User and any other Registered User or any other person in relation to the Service or website of the Company.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 14. Confidentiality</h3>
        </div>
        <div class="pages-term-content">
            <p>The Registered User shall, unless the Company approves in writing in advance, keep confidential any non-public information that the Company disclosed to the Registered User in relation to the Service with the request of confidentiality.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 15. Handling User Information</h3>
        </div>
        <div class="pages-term-content">
            <p>1. The handling of user information of the Registered Users is separately set forth in the Company’s Privacy Policy.  The Registered User shall agree that the Company will handle the user information of the Registered User in accordance with the Privacy Policy.</p>
            <p>2. The Company may, at the Company’s discretion, use and disclose the information, data, etc. provided by the Registered User to the Company, as statistical information in a manner that the relevant individual is unidentifiable.  The Registered User shall make no objection thereto.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 16. Amendment of these T&C</h3>
        </div>
        <div class="pages-term-content">
            <p>The Company may, when it deems necessary, amend these T&C without any notice.  The amended T&C shall be published on the website of the Service.  The Registered User shall be deemed to consent to the amendment if he/she used the Service after the amended T&C were published.  If the Registered User does not consent to the amended T&C, he/she may not use the Service, and shall immediately withdraw from the Service in accordance with the Article 11.  If the amendment has a material effect on the use of the Service by the Registered User, the Company will, in its judgment, serve reasonable prior notice to the Registered User in the manner set out by the Company.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 17. Communication; Notice</h3>
        </div>
        <div class="pages-term-content">
            <p>Any communication and notice from the Registered User to the Company including inquiry about the Service, and any communication and notice from the Company to the Registered User including the notice of change of these T&C, shall be made in the manner determined by the Company.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 18. Transfer of Status under Agreement for Use of Service</h3>
        </div>
        <div class="pages-term-content">
            <p>1. The Registered User shall not, without the Company’s prior written consent, transfer, assign, mortgage or otherwise dispose of the status under the agreement for use of the Service, or rights or obligations under these T&C, to any third person.</p>
            <p>2. If the Company transferred the business pertaining to the Service to another company, the Company may, along with the business transfer, transfer the status under the agreement for use of the Service, rights and obligations under these T&C, and Registration Information and any other user information of the Registered User, to the transferee of the business transfer.  The Registered User is deemed to consent to the transfer under this Paragraph.  The business transfer in this Paragraph shall include the ordinary business transfer and any other case where the business is transferred, including corporate split.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 19. Severability</h3>
        </div>
        <div class="pages-term-content">
            <p>If any provision of these T&C, or any part of a provision in these T&C, is judged to be invalid or unenforceable under the Consumer Contract Act or any other law or regulation, the remaining provisions of these T&C, and the remaining parts of the provision the other part of which is judged to be invalid or unenforceable, shall remain in full force and effect.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 20. Governing Law and Jurisdiction</h3>
        </div>
        <div class="pages-term-content">
            <p>These T&C shall be governed by the laws of Japan.</p>
            <p>Any dispute that arises or relates to these T&C or the Service shall be subject to the exclusive jurisdiction in the first instance of the Tokyo District Court.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Terms and Conditions for Use of Japanese Master Paid Members (Plus)</h3>
        </div>
        <div class="pages-term-content">
            <p>These Terms and Conditions for Use of Japanese Master Paid Members (these "Paid Members T&C") set forth the conditions for provision of the paid service "Plus" and "Premium" (the "Paid Service") of the web-service "Japanese Master" operated by Shares', Inc. (the "Company,") and the rights and obligations that may arise between the Company and the Registered Users of the Paid Service (the "Paid Members.")  In using the Paid Service, you must read and consent to all sections of these Paid Members T&C.</p>
            <p>The Paid Members shall, in registration as a Paid Member and using the Paid Service, consent to the Japanese Master Terms and Conditions for Use, and these Paid Members T&C.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 1. Scope</h3>
        </div>
        <div class="pages-term-content">
            <p>1. If there is any discrepancy between the contents of these Paid Members T&C and any explanation about the Paid Service outside these Paid Members T&C, the provisions of Paid Members T&C shall prevail.</p>
            <p>2. The Company may, when it deems necessary, amend these Paid Members T&C without any notice.  The amended Paid Members T&C shall be published on this website.  The Paid Member shall be deemed to consent to the amendment if he/she used the Paid Service after the Company published the amended Paid Members T&C.  If the Paid Member does not consent to the amendment, he/she may not use the Paid Service, and shall immediately terminate the Paid Service in accordance with Article 5 of these T&C.  If the amendment has a material effect on the use of the Paid Service by the Paid Member, the Company will, in its judgment, serve reasonable prior notice to the Paid Member in the manner set out by the Company.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 2. Paid Member Registration</h3>
        </div>
        <div class="pages-term-content">
            <p>1. Applicants who wish to use the Paid Service (the "Prospective Paid Service Member") may apply for registration of use of the Paid Service by agreeing to these Paid Members T&C and providing such information (the "Paid Service Registration Information") designated by the Company by such means designated by the Company.</p>
            <p>2. For the purpose of the foregoing paragraph, if the Prospective Paid Service Member is a minor, consent of the person with parental authority is required for registration.  By the Prospective Paid Service Member agreeing to these Paid Members T&C, the Company will deem that such consent has been given.</p>
            <p>3. The Company will determine, based on the Company’s criteria, whether the Prospective Paid Service Member who has made the registration application in Paragraph 1 (the "Paid Service Applicant") may be registered or not.  If the registration is granted, the Company will notify the Paid Service Applicant.  The registration shall be complete by the Company’s serving such notice.</p>
            <p>4. The contract for use of the Paid Service shall be formed between the Paid Service Member and the Company when the registration is completed, and the Paid Service Member may use the Paid Service.</p>
            <p>5. If the Paid Service Applicant falls within any of the following items, the Company may refuse registration or re-registration.  The Company shall have no obligation to disclose the reason for refusal:</p>
            <p>(i) If all or part of the Paid Service Registration Information provided to the Company is false, erroneous or incomplete;</p>
            <p>(ii) If the Paid Service Applicant is a minor, adult ward, person under curatorship or person under assistance, and it turned out that consent, etc. of his/her statutory agent, guardian, curator or assistant had not been given;</p>
            <p>(iii) If, in the Company’s judgment, the Paid Service Applicant is an Anti-Social Force, Etc. (which shall mean organized crime group, member of an organized group, right-wing organized group, antisocial force, or any other person similar to the foregoing; hereinafter the same), or has any communication or relationship with any Anti-Social Force, etc., by cooperating or engaging with maintenance, operation or business of the Anti-Social Force, through provision of finance or otherwise;</p>
            <p>(iv) If, in the Company’s judgment, the Paid Service Applicant is a person who breached any contract with the Company in the past, or has relation to such person;</p>
            <p>(v) If the Company deregistered the Paid Service Applicant’s registration of Japanese Master or Paid Service in the past; or</p>
            <p>(vi) In addition to the foregoing, if the Company deems that the use of the Paid Service is improper.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 3. Fee and Payment Method</h3>
        </div>
        <div class="pages-term-content">
            <p>1. In using the Paid Service, the Paid Member shall pay to the Company the monthly fee (the "Fee") prescribed by the Company.  The Fee shall be set forth for each service, and presented on the purchase page.</p>
            <p>2. The "month" for the purpose of monthly use of the Paid Service shall mean the one-month period from the payment of the Fee (i.e., until the same time on the corresponding day of the next month of the payment date; if there is no corresponding day in the next month, until the same time on the last day of the next month). However, if the Paid Service is terminated before one-month period from the payment, the "month" for the purpose of monthly use of the Paid Service shall mean the period from the last payment until the termination of the service.</p>
            <p>3. The Fee for the first month of the Paid Service shall be paid at the registration of the Paid Service.  The Fees for the subsequent months shall be paid monthly in advance at the same time of the corresponding day of each month of the registration date of the Paid Service (if there is no corresponding day of the registration date in a month, the last day of such month; hereinafter the "Renewal Time.")  If the Paid Member wishes to terminate the Paid Service, he/she shall undertake the termination procedure listed under Article 5 of these T&C by the Renewal Time.  If the termination procedure is not undertaken before the Renewal Time, the Paid Service shall automatically be renewed for one (1) month, and the Paid Member shall be obliged to pay the Fee for the next month at the Renewal Time.</p>
            <p>4. The Company may, in connection with amendment of the Service’s contents or otherwise, amend the Fee.  If the Fee is amended, the Company shall notify the Paid Members in advance in the manner prescribed by the Company.</p>
            <p>5. The Fee shall be paid by credit card payment at the time of registration and each Renewal Time.  If the termination procedure is not taken before the Renewal Time, the credit card payment shall be automatically effected at the Renewal Time.</p>
            <p>6. If the Paid Member failed to pay any Fee, the Paid Member shall pay a late charge at 14.6 percent per annum to the Company.</p>
            <p>"7. If the Paid Member terminated the Paid Service (including where the Paid Member withdrew from Japanese Master,) the Fees that were already paid shall not be refunded for whatever reason.  If the termination is effected within one (1) month from the payment of the Fee, the Fee for the remaining term shall not be refunded. Once the Paid Service is terminated, Registered User of Japanese Master shall not use the Paid Service at that moment."</p>
            <p>8. If the Paid Member changed the plan of the Paid Service, the remaining amount of the Fee shall be refunded after deducting the Fee for the term that has already passed.  The Fee for the new plan that he/she has enrolled in shall be paid immediately, and the effective term shall be one (1) month from the time.  If the Paid Member changed the plan, the Renewal Time for the subsequent months shall be the same time on the corresponding day of the time and day that the change of plan took effect.  The Paid Service shall be renewed subsequently based on the amended Fee after the change of plan pursuant to Paragraph 3.</p>
            <p>The initial payment will be made at the registration of the Paid Service. There will be monthly charges subsequently. The service will be automatically renewed. If you do not need the Paid Service, please undertake the termination procedure before the Renewal Time.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 4. Cancellation of Paid Member Registration</h3>
        </div>
        <div class="pages-term-content">
            <p>If the Paid Member breached or committed any act that likely breaches the Japanese Master Terms and Conditions for Use or these Paid Member T&C, or the Paid Member falls under any of the items in Article 10 of the Japanese Master Terms and Conditions for Use, or the Paid Member failed to pay the Fee, the Company may, without serving prior notice, delete the Posted Data, and suspend the use of the Paid Service by the Paid Member, deregister the Paid Member, or cancel the contract for use of the Paid Service.  If the cancellation is effected pursuant to the foregoing, the Fee for the term of provision of the Paid Service that includes the cancellation date shall occur.  The Company shall have no liability for any damage caused to the Paid Member from these measures.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 5. Termination of Paid Member</h3>
        </div>
        <div class="pages-term-content">
            <p>1. The Paid Member may, by serving notice to the Company in the manner prescribed by the Company, withdraw from the Paid Service, and deregister his/her status as a Paid Member.  If the termination procedure is not taken before the Renewal Time, the Paid Service will automatically be renewed.</p>
            <p>2. In connection with the foregoing Paragraph, if the Paid Member cannot complete termination of the Paid Service before the Renewal Time by reason of the Paid Member’s carelessness, or even of the Company’s periodical or emergent maintenance or system failure, or communication error, the Company shall have no liability for the failure of termination.</p>
            <p>3. If the withdrawing Registered User owes any debts to the Company, any and all obligations that he/she owes to the Company become due, and he/she shall immediately pay all debts owed to the Company</p>
            <p>Please undertake the termination procedure of the Paid Service well in advance of the renewal day. The Company shall have no responsibility if you cannot complete the termination procedure on the renewal day because of maintenance or system failure.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 6. Transfer of Status under Agreement for Use of Paid Service</h3>
        </div>
        <div class="pages-term-content">
            <p>The Paid Member shall not, without the Company’s prior written consent, transfer, assign, mortgage or otherwise dispose of the status under the agreement for use of the Paid Service, or rights or obligations under these Paid Member T&C, to any third person.</p>
        </div>
        <div class="pages-term-subtitle">
            <h3>Article 7. Application of Japanese Master Terms and Conditions for Use</h3>
        </div>
        <div class="pages-term-content">
            <p>Articles 3, 5 through 9, 12 through 15, and 17 through 20 of the Japanese Master Terms and Conditions for Use shall apply mutatis mutandis to these Paid Member T&C.</p>
        </div>
        <div class="pages-term-content">
            <p>Ver. 1: Oct 5, 2020</p>
        </div>
    </div>
</div>
