<div class="main">
  <div class="main-top">
    <div class="card-message">
      <p>Thank you for having supported me !! </p>
    </div>
        <%# ボタンを作って、押したら"/"にアクセスする %>
        <%# class: 'btn'でボタン化 %>
      <div class="card-back-home">
        <%= link_to "Go back home", root_path, class: 'btn btn-default' %>
      </div>
  </div>
</div>