<div class="main">
  <div class="main-top">
    <h1>Are you sure you want to quit patron?</h1>
        <%# ボタンを作って、押したら"/home/cancel_subscription"にアクセスする %>
        <%# class: 'btn'でボタン化 %>
        <%= button_to 'Cancel Subscription', card_cancel_subscription_path, method: :put %>
  </div>
</div>