<div class="main">
  <div class="main-top">
    <h1>card#fin_subscription</h1>
        <%# ボタンを作って、押したら"/"にアクセスする %>
        <%# class: 'btn'でボタン化 %>
        <%= link_to "メインに戻る", root_path, class: 'btn btn-default' %>
  </div>
</div>