.StripeElement {
    background-color: white;
    margin: 20px auto;
    height: 40px;
    /* 付け足す */
    width: 260px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    float: center;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
  
  .center{
    border: 1px solid #aaa;
    width: 400px;
    text-align: center;
  }

  button {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    padding: 8px 10px;
    color: white;
    background-color: rgb(94, 189, 120);
    border-radius: 3px;
    border: none;
    text-decoration: none;
}

 .card-message p {
   line-height: 30px;

 }

 .card-message ul {
   margin: 20px auto;
   list-style: none;
   line-height: 30px;
   font-weight: bolder;
   text-align: left;
 }

 .card-back-home {
   margin: 10px auto;
 }