// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//Sign upページ

.pass-new {
    background-image: url("/forest.png");
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    height: 800px;
    padding-top: 30px;
    width: 100%;
}

.pass-new-top {
    margin: 10px auto;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
    border-radius: 4px;
}

.pass-new-title {
    margin-bottom: 5px;
    font-size: 15px;
    text-align: left;
    display: block;
}

.pass-new-field {
    margin: 10px auto 10px 50px;
    text-align: left;
}

.pass-new-btn {
    text-align: center;
    margin-right: 0px;
}

.sessions-new-message {
    text-align: left;
    margin-top: 15px;
}

.sessions-new-menu {
    margin: 5px 50px 5px auto;
    text-align: left;
}