/*スマホ表示*/
@media (max-width: 750px) {

    /* タイトルページのボタン表示 */
    .pages-index-btn {
        font-size: 15px;
        font-weight: bolder;
    }

    /* タイトルページの諸々調整 */
    .pages-top-message {
        margin-top: 30px;
    }

    .pages-top-message h3 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .pages-grammar-top {
        margin-top: 30px;
    }

    .pages-grammar-top h3 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .pages-modern-top {
        margin-top: 30px;
    }

    .pages-modern-top h3 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
    }

}

/*PC表示*/
@media (min-width: 750px) {

    /* 白枠の幅を大きくする */ 
    .main-top {
        width: 350px !important;
    }

    
}
